

table{
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

thead{
    tr{
        background-color: black;
        th{
            color:white !important;
            font-weight: 800 !important;
        }
    }
}